html, body {
    margin:0%;
    height: 100%;
}

.container {
    margin: 0%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;  
}

.row {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

.cell {
    flex-grow: 1;
    transition: .2s linear;
}

div.cell:hover {
    background-color: magenta;
}

button {
    display: flex;
    margin: auto;
}