html, body {
    margin:0%;
    height: 100%;
    background-color: ivory;
}

.container {
    margin: 0%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;  
}

.row {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

.cell {
    flex-grow: 1;
    transition: .2s linear;
}

/*div.cell:hover {
    background-color: magenta;
}*/

button {
    display: inline-block;
    position: absolute;
    left: 50%;
    right: 50%;
    padding: 5px;
    width: 100px;
    background-color: rgb(165, 252, 208);
    border-radius: 10px;
    border: 2px solid rgb(23, 90, 21);
    text-transform: uppercase;
}

button:hover {
    background-color: aqua;
}

